.bemvindo {
  position: relative;
  height: 430px;
  border-bottom: 1px solid #bed4dd;
}

.bemvindo img {
  position: absolute;
  right: -36px;
  bottom: -119px;
  width: 653px;
}

.bemvindo h3 {
  margin-top: 70px;
  font: 400 clamp(5.4rem, 8vw, 8.4rem)/1.2 "Roboto Slab", serif;
  color: #bed4dd;
}

.bemvindo p {
  width: 470px;
  height: 153px;
  font: 300 clamp(1.8rem, 2vw, 2.8rem)/1.6 "Roboto Slab", serif !important;
  color: #bed4dd;
  text-align: left !important;
}

@media (max-width: 600px) {
  .bemvindo {
    text-align: center;  
    height: 360px;
    margin-bottom: 4rem;
  }

  .content {
    height: 90vh;
  }

  .bemvindo h3 {
    margin-top: 35px;
  }

  .bemvindo p {
    margin: 0 auto;
    width: 90%;
    text-align: center !important; 
  }

  .bemvindo img {
    width: 80vw;
    margin: 0px auto;
    right: initial;
    bottom: 60px;
    position: relative;
  }
}