.content {
  width: 90%;
  margin: 0 auto;
}

.content ul li {
  font: 300 clamp(2.8rem, 2vw, 3.6rem) / 1.6 "Roboto Slab", serif;
}

.astronaut3 {
    position: absolute;
    top: 328px;
    right: 0px;
    width: 300px;
    z-index: -1;
}
